<aside>
    <p class="relatedRecipesTitle">Related Recipes</p>

    <div class="recipeCard">
        <img class="foodImage" src="https://media.cnn.com/api/v1/images/stellar/prod/140430115517-06-comfort-foods.jpg?q=w_1110,c_fill" alt="">
        <div>
            <p>Recipe's Name</p>
            <p><i class="bi bi-stopwatch-fill"></i> 40 Minutes</p>
        </div>
    </div>
    <div class="recipeCard">
        <img class="foodImage" src="https://media.cnn.com/api/v1/images/stellar/prod/140430115517-06-comfort-foods.jpg?q=w_1110,c_fill" alt="">
        <div>
            <p>Recipe's Name</p>
            <p><i class="bi bi-stopwatch-fill"></i> 40 Minutes</p>
        </div>
    </div>
    <div class="recipeCard">
        <img class="foodImage" src="https://media.cnn.com/api/v1/images/stellar/prod/140430115517-06-comfort-foods.jpg?q=w_1110,c_fill" alt="">
        <div>
            <p>Recipe's Name</p>
            <p><i class="bi bi-stopwatch-fill"></i> 40 Minutes</p>
        </div>
    </div>
    <div class="recipeCard">
        <img class="foodImage" src="https://media.cnn.com/api/v1/images/stellar/prod/140430115517-06-comfort-foods.jpg?q=w_1110,c_fill" alt="">
        <div>
            <p>Recipe's Name</p>
            <p><i class="bi bi-stopwatch-fill"></i> 40 Minutes</p>
        </div>
    </div>

</aside>
