footer {
    background-color: var(--primary-color2);
    color: var(--white);
    margin-top: 5rem;
    padding: 1rem;

    width: 100%;

    text-align: center;
}

a {
    color: var(--white);
    transition: 0.5s;
}

a:hover {
    transform: translateY(-5px);
}

i {
    font-size: 1.5em;
}

hr {
    width: 20rem;
    margin: 1rem auto;
    border-color: var(--secondary-color);
}

.socialMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.socialMediaTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
}

p {
    margin: 0.5rem;
    font-weight: bold;
}