<footer>
    <div>
        <p class="socialMediaTitle">Our social Media</p>
        <div class="socialMediaContainer">
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>

    <hr>

    <div>
        <p>CuisineHub ©</p>
        <p>2024 - All rights Reserved</p>
    </div>
</footer>