header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-bottom: 4rem;

    background-color: var(--primary-color);
    box-shadow: 0px 5px 5px var(--gray);
}

h1, h2 {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}