.container p:first-child {
    border-right: 2px solid var(--secondary-color);
}

p {
    display: inline;
    padding: 0.3rem;
}

a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;

    letter-spacing: 0.8px;
}