<section>

    <!-- Search section -->
    <p>Search for a recipe here</p>
    <hr>
    <form>
        <input type="text" [(ngModel)]="searchInput" name="saerchInput" placeholder="Enter a recipe">
        <button>Search</button>
        <span>or</span>
        <button (click)="executeDisplayAllOnList()">Display all Recipes</button>
    </form>

    <div *ngIf="showResultsTitle">
        <p id="results">Results</p>
        <hr>
    </div>


    <!-- TODO List of recipes will go here -->
    <app-recipe-list></app-recipe-list>

</section>
