<div class="registrationContainer">

    <section class="sideContent">
        <p>Log to your account</p>
    </section>

    <section class="registrationForm">
        <p class="logTitle"><span>L</span>ogin</p>
        <form id="loginForm">
            <div class="inputContainer">
                <input type="email" placeholder="email">
                <small></small>
            </div>
            <div class="inputContainer">
                <input type="password" placeholder="password">
            </div>
            <button>Login</button>
        </form>
        <hr>
        <p class="option">Don't have an account?<a routerLink="/sign-in"> Sign In</a></p>
    </section>

</div>


