section {
    margin-top: 2rem;
}

.title {
    color: var(--primary-color);

    font-size: var(--title3);
    font-size: bold;
}

hr {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

/* ----------------- Leave a review ----------------- */
textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.8rem;
}

button {
    border: none;
    background-color: var(--primary-color);

    color: var(--white);
    padding: 0.6rem;

    margin-top: 0.8rem;
}

button:active {
    background-color: var(--white);

    color: var(--primary-color);
}

/* ----------------- User Reviews list ----------------- */
.reviews-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    color: var(--primary-color);
    margin-top: 2rem;
}

.single-user-review {
    padding: 1rem;

    border: 1.4px solid var(--primary-color2);
    border-radius: 6px;
    box-shadow: 4px 4px 10px var(--gray);
}

.single-user-review > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.single-user-review > p {
    margin-top:0.5rem;
}

#comment {
    font-weight: bold;
    font-size: var(--text4);
    margin-top: 1rem;
    font-style: italic;
}

.noReviews {
    margin-top: 3rem;
    color: var(--primary-color2);
    font-weight: bold;
}

img {
    width: 65px;
    border-color: var(--primary-color);
}

span {
    font-size: var(--text2);
}

a {
    font-size: var(--text3);
    font-weight: bold;
    color: var(--primary-color2);
}