<section>

    <p class="title">Reviews</p>
    <hr>

    <!-- TODO I need to add an ngIf here to only allow reviews for logged users -->
    <!-- Review form -->
    <form>
        <p>Rating: *******</p>
        <textarea name="writeReview" id="writeReview" cols="20" rows="8" placeholder="Leave a review here"></textarea>
        <button>Send Review</button>
    </form>


    <!-- List of reviews -->
    <div class="userReview">
        <div>
            <i class="bi bi-person-circle"></i>
            <p>Luna Star</p>
            <p>Rating</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil odio soluta temporibus ea natus libero tenetur totam, voluptatem deserunt quas?</p>
    </div>


</section>
