<article>

    <!-- Section that contains the ingredients and instructions -->
    <section>

        <!-- Header Container for the title and other info -->
        <header>
            <p id="recipeTitle">Name of the recipe</p>
            <div id="infoContainer">
                <p>Author: <a>Timothy Keller</a></p>
                <div>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p><i class="bi bi-calendar3"></i>02/05/2023</p>
                <p><i class="bi bi-stopwatch-fill"></i>40 Minutes</p>
            </div>
        </header>

        <!-- Image representing the food -->
        <div class="recipeImageContainer">
            <img src="https://a.cdn-hotels.com/gdcs/production0/d1513/35c1c89e-408c-4449-9abe-f109068f40c0.jpg?impolicy=fcrop&w=800&h=533&q=medium" alt="Image of a food">
        </div>

        <div id="ingredientsContainer">
            <p class="title">Ingredients</p>
            <hr>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div>

        <div id="instructionContainer">
            <p class="title">Instructions</p>
            <hr>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam facere nemo assumenda! Tempora nam
                    vel, quaerat ea enim non dolor.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero error quae adipisci quia sequi
                    laboriosam maxime, sed, cum, aliquid alias fuga unde veritatis quis dolores recusandae. Totam a
                    mollitia odio quia reprehenderit ipsa sed molestias inventore at quis explicabo, expedita ratione
                    perspiciatis amet libero dolore possimus omnis veritatis laudantium aut?</p>
                <p>
                    Repellat adipisci dolore
                    veniam rem hic in suscipit a, facilis optio ipsum voluptate fugiat, necessitatibus ut numquam sed
                    eos beatae reiciendis. Animi sequi in eos molestiae, consectetur exercitationem maiores officia
                    eaque quidem explicabo. Commodi eveniet laboriosam ex aliquid quia ad similique tempora perspiciatis
                    expedita pariatur. Sit iste eum maiores.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo recusandae provident repellat odio
                    dolores nostrum? Aspernatur, ipsam?</p>
            </div>
        </div>

        <!-- Tag Container- -->
        <div id="tagContainer">
            <p class="title">Tags</p>
            <hr>
            <div >
                <p class="tag">Dinner</p>
                <p class="tag">Quick Meal</p>
                <p class="tag">Family Reunion</p>
                <p class="tag">Healty</p>
            </div>
        </div>

        <!-- Review Section -->
        <app-recipe-reviews></app-recipe-reviews>


    </section>

    <!--- Contente divider -->
    <div class="divider"></div>

    <!-- TODO List of Related Recipes goes here -->


</article>

