<article>

    <!-- Section that contains the ingredients and instructions -->
    <section>

        <!-- Header Container for the title and other info -->
        <header>
            <p id="recipeTitle">{{ recipe.title }}</p>
            <div id="infoContainer">
                <p>Author: <a>{{ recipe.author.username }}</a></p>
                <div>Rating: {{ recipe.rating }}</div>
                <p><i class="bi bi-calendar3"></i>{{ recipe.createdAt | date }}</p>
                <p><i class="bi bi-stopwatch-fill"></i>{{ recipe.cookTime }} Minutes</p>
            </div>
        </header>

        <!-- Image representing the food -->
        <div class="recipeImageContainer">
            <img [src]="recipe.photo" [alt]="recipe.title">
        </div>

        <div id="ingredientsContainer">
            <p class="title">Ingredients</p>
            <hr>
            <ul *ngFor="let ingredient of recipe.ingredients">
                <li>{{ ingredient }}</li>
            </ul>
        </div>

        <div id="instructionContainer">
            <p class="title">Instructions</p>
            <hr>
            <div>{{ recipe.directions }}</div>
        </div>

        <!-- Tag Container- -->
        <div id="tagContainer">
            <p class="title">Tags</p>
            <hr>
            <div *ngFor="let tag of recipe.tags">
                <span class="tag">{{ tag }}</span>
            </div>
        </div>

        <!-- Review Section -->
        <app-recipe-reviews [reviews]="reviews"></app-recipe-reviews>


    </section>

    <!--- Contente divider -->
    <div class="divider"></div>

    <!-- TODO List of Related Recipes goes here -->


</article>

