article {
    margin-right: 15rem;
    margin-left: 2.5rem;

    display: flex;
    flex-direction: row;
    /* TODO I need to fix this wrapping element later flex-wrap: wrap; */
}

.divider {
    border: 1px solid var(--primary-color);
    margin-left: 2.8rem;
    margin-right: 2.8rem;
}

/* -------------- Recipe's image styling -------------- */
.recipeImageContainer {
    margin-top: 2rem;
}

.recipeImageContainer>img{
    max-width: 48rem;
    max-width: 100%;
}

/* -------------- Header Styling -------------- */

header {
    background-color: var(--primary-color);
    padding: 1.5rem;
}

#recipeTitle {
    color: var(--white);

    font-size: var(--title2);
    font-weight: bold;
}

#infoContainer {
    color: var(--secondary-color);
    font-size: var(--text4);
    display: flex;
    gap: 2rem;

    margin-top: 1rem;
}

i {
    color: var(--white);
    margin-right: 0.4rem;
}


/* -------------- Ingredients and Instructions Styling -------------- */

#ingredientsContainer,
#instructionContainer {
    margin-top: 2rem;
}

#ingredientsContainer>ul {
    margin-left: 2rem;
    /* list-style: none; */
}

li {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: var(--text4);
}

.title {
    color: var(--primary-color);

    font-size: var(--title3);
    font-size: bold;
}

#instructionContainer>div {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: var(--text4);
}

hr {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}


/* -------------- Tag Content Styling -------------- */

#tagContainer{
    margin-top: 1rem;
}

#tagContainer > div {
    display: inline;
}

#tagContainer > hr {
    margin-bottom: 1.7rem;
}

.tag {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    font-weight: bold;

    padding: 0.6rem;
    margin-right: 1rem;
}