<div>

    <!-- Error message in case no recipes are found -->
    <div class="error-message">Sorry, no results were found</div>

    <!-- Recipe Card -->
    <div class="recipe-card">
        <img src="assets/images/food-example.png" alt="">
        <div class="recipe-info">
            <p class="title"><a href="">Recipe Title goes here</a></p>
            <span>User Name</span>
            <span>Rating: </span>
            <span><i class="bi bi-stopwatch-fill"></i> 40 Minutes</span>
        </div>
    </div>

</div>
