/* ----------------- Error or Response ----------------- */
.error-message {
    color: var(--red);
    font-size: var(--text3);
}

.no-results {
    color: var(--primary-color);
    font-size: var(--text3);
}

/*----------------- Card and container for the information ----------------- */
img {
    width: 16rem;
}

.recipe-card{
    display: flex;
    align-items: center;

    border-radius: 5px;
    border: 1px solid var(--gray);

    background-color: var(--secondary-color3);

    padding: 1rem;
    margin-top: 2rem;
}


.recipe-info {
    margin-left: 2.5rem;
}


/* ----------------- Specific elements ----------------- */
.title {
    font-size: var(--title2);
    font-weight: bold;
    color: var(--primary-color);

    letter-spacing: 1px;
    margin-bottom: 2rem;
}


span {
    margin-right: 1.5rem;
    color: var(--primary-color);
    font-size: var(--text4);
    letter-spacing: 0.6px;
}


a {
    text-decoration: none;
    color: var(--primary-color);
}

/* ----------------- Sorting and amount ----------------- */
.quantity-and-sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.recipe-amount {
    color: var(--primary-color);
    font-size: var(--text3);
}

select {
    padding: 6px;
    border-radius: 8px;
    font-size: var(--text7);
}

option {
    margin: 2px;
}