<div>

    <!-- Response messages Container -->
    <div>
        <!-- If there was an error on the request -->
        <p class="error-message" *ngIf="errorOnRequest">Sorry, there was an error. Try again.</p>

        <!-- If the request was successful but returned empty -->
        <p class="no-results" *ngIf="isResponseEmpty">No results were found...</p>

        <div class="quantity-and-sorting" *ngIf="numberOfResults != 0">
            <!-- Shows the number of results -->
            <p class="recipe-amount">Found a total of {{ numberOfResults }} results: </p>

            <!-- Sorting the list -->
            <select (change)="sortRecipes()" [(ngModel)]="sortingOption" name="sortingOption">
                <!-- TODO maybe I should consider adding icons on the options, unfortunately bootstrap does't work on these here -->
                <option value="0">-- Sort Results --</option>
                <option value="1">Name A-Z</option>
                <option value="2">Name Z-A</option>
                <option value="3">Rating 0-9</option>
                <option value="4">Rating 9-0</option>
                <option value="5">Time 0-9</option>
                <option value="6">Time 9-0</option>
            </select>
        </div>

    </div>


    <!-- Recipe Card -->
    <div class="recipe-card" *ngFor="let recipe of recipeList">
        <img [src]="recipe.photo" [alt]="recipe.title">
        <div class="recipe-info">
            <p class="title"><a [routerLink]="'/recipes/' + recipe.id" target="_blank">{{ recipe.title }}</a></p>
            <span>Rating: {{ recipe.rating }}</span>
            <span><i class="bi bi-stopwatch-fill"></i> {{ recipe.cookTime }} Minutes</span>
        </div>
    </div>

</div>