/* --------------- Title Styling --------------- */
#titleContainer {
    margin: 1rem;
}

#titleContainer>p {
    font-size: var(--title3);
    color: var(--primary-color);
}


/* --------------- Profile Container --------------- */
#profileContainer {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
}


/* --------------- Image Styling --------------- */
img {
    width: 15rem;
}

.photoBox {
    text-align: center;
}


/* --------------- Input Box Styling --------------- */
section {
    /* border: 2px solid black; */
    margin-left: 2rem;
}

label {
    display: block;

    font-size: var(--text4);
    color: var(--primary-color);
    margin-bottom: 5px;

}

.inputBoxesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
}

.inputBox>input {
    font-size: var(--text6);
    padding: 0.6rem;
    padding-left: 1rem;

    border-radius: 100px;
    border-style: none;
    border: 1px solid var(--primary-color);

    width: 17rem;
}

textarea {
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    font-size: var(--text6);
    padding: 1.7rem;

    width: 90%;
}

#biographyBox {
    display: block;
    margin-top: 2rem;
}


