<div id="titleContainer">
    <p>My Profile</p>
    <hr>
</div>


<div id="profileContainer">
    <div class="photoBox">
        <img src="assets/images/Aiden Martinez.jpg" alt="profile photo">
        <p>My user name</p>
    </div>

    <section>
        <div class="inputBoxesContainer">
            <div class="inputBox">
                <label for="">First Name</label>
                <input type="text">
            </div>

            <div class="inputBox">
                <label for="">Last Name</label>
                <input type="text">
            </div>

            <div class="inputBox">
                <label for="">Email</label>
                <input type="text">
            </div>

            <div class="inputBox">
                <label for="">Birth Day</label>
                <input type="text">
            </div>
        </div>

        <div class="inputBox" id="biographyBox">
            <label for="">Biography</label>
            <textarea name="" id="" cols="22" rows="8"></textarea>
        </div>
    </section>
</div>
<button>Save</button>
