/* Global Variables */
:root {
  --primary-color: #003a55;
  --primary-color2:#1a4a61;
  --secondary-color: #ffcb3e;
  --secondary-color2: #ffd562;
  --secondary-color3: #fff4e7;
  --black: #000000;
  --white: #f8f8f8;
  --gray: #a3a3a3;
  --red: #e60303;

  --title1: 3rem;
  --title2: 2.5rem;
  --title3: 2rem;

  --text1: 1rem;
  --text2: 1.5rem;
  --text3: 1.3rem;
  --text4: 1.2rem;
  --text5: 0.9rem;
  --text6: 1.1rem;
  --text7: 1.05rem;
}


/* app-container ruling */
#app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Takes out any space between footer and screen's bottom */
#main-content {
    flex: 1;
}


/* Reseting the CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}
