/* Global Variables */
:root {
  --primary-color: #003a55;
  --secondary-color: #ffcb3e;
  --secondary-color2: #f4d2a1;
  --black: #000000;
  --white: #f8f8f8;
  --gray: #a3a3a3;

  --title1: 3rem;
  --title2: 2.5rem;
  --title3: 2rem;

  --text1: 1rem;
  --text2: 1.5rem;
  --text3: 1.3rem;
  --text4: 1.2rem;
  --text5: 0.9rem;
}

/* Reseting the CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}
